/*===========
 * Mega Menu 1.9
 * This Code is Licensed by Will-Myers.com 
============*/
.wm-mega-menu-item{
  display:flex !important; 
  position:fixed !important;
  top:var(--wM-headerBottom, 100px);
  z-index:9;
  width:100%;
}
/*SHOULD THIS BE REMOVED??
/*Set Mega menu to Absolute if stuck to the top*/
.tweak-fixed-header-style-scroll-back:not(.tweak-fixed-header) .wm-mega-menu-item, body:not(.tweak-fixed-header) .wm-mega-menu-item{
  position:absolute !important;
  top:var(--wM-headerHeight, 100px);
}
.header-display-desktop .wm-mega-menu-trigger .header-nav-folder-content{
  display:none !important;
}
body:not(.sqs-edit-mode-active) .footer-mega-menu{
  display:none;
}
.footer-mega-menu {
  line-height:initial;
}
body.wm-active-mega-menu{
   overflow-y: auto;
}
.wm-mega-menu-item .content-wrapper{
  margin: auto !important;
  overflow-y: auto !important;
  max-height: calc(85vh - var(--wM-headerHeight, 100px)) !important;
}
.wm-mega-menu-item .section-background img{
  width:100%;
  height:100%;
  object-fit:cover;
}
.remove-height{
  padding:0px !important;
  height:0px !important;
}

.wm-mega-menu-item .sqs-block-image img{
  object-fit: cover;
  width: 100% !important; 
  height: 100% !important
}

.wm-mega-menu-item .preFade, .wm-mega-menu-item .preScale, .wm-mega-menu-item .preSlide, .wm-mega-menu-item .preClip, .wm-mega-menu-item .preFade, .wm-mega-menu-item .preScale, .wm-mega-menu-item .preSlide, .wm-mega-menu-item .preClip, .wm-mega-menu-item .animation-segment-parent-hidden, .wm-mega-menu-item .preFlex, .wm-mega-menu-item .preClip{
  opacity:1 !important;  
  transform: scale(1) translate(0%,0%) !important;
  clip-path: unset !important;
}
.wm-mega-menu-item .sqs-block-summary-v2 .img-wrapper img, .wm-mega-menu-item .sqs-block-summary-v2 .sqs-video-wrapper img{
  opacity: 1 !important;
}
.wm-mega-menu-item:not(.show-mega-menu) *{
  visibility: hidden !important;
  z-index:-1;
}

/*Darken Background on Hover*/
.tweak-wm-mega-menu #page:before{
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  opacity:0;
  visibility:hidden;
  transition: opacity .3s ease, visibility 0s linear .3s; 
}
.wm-active-mega-menu #page:before{  
  visibility:visible;
  transition: opacity .3s ease, visibility 0s linear 0s; 
}
button.mega-close-btn{
  display:none;
}
.show-close-button button.mega-close-btn{
  all:unset;
  display:block;
  position: absolute;
  top: 34px;
  right: 34px;
  z-index: 99;
  cursor:pointer;
}
.show-close-button  .mega-close-btn:after{
  content: "\2715";
  padding: 8px;
  background: hsla(0,0%,0%,.2);
  border-radius: 3px;
}
/*Close Menu Button*/
@media(pointer:coarse){
  button.mega-close-btn{
    all:unset;
    display:block;
    position: absolute;
    top: 34px;
    right: 34px;
    z-index: 99;
    cursor:pointer;
  }
  .mega-close-btn:after{
    content: "\2715";
    padding: 8px;
    background: hsla(0,0%,0%,.2);
    border-radius: 3px;
  }
}
/*Hide Scrollbar on Wide Screens*/
@media(min-width:1250px){
  .wm-mega-menu-item .content-wrapper{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .wm-mega-menu-item .content-wrapper::-webkit-scrollbar {
    display: none;
  }
}

/*Mobile Menu Mega Folder*/
.has-mega-section .header-menu-nav-item:not(.header-menu-controls){
  display:none;
}
.has-mega-section .page-section{
  display:block !important;
  padding-top:10vw
}
.has-mega-section .header-menu-controls{
  position:absolute;
  top:0;
  padding-top: 10px;
  z-index:99;
  opacity:1;
}

/*Mega Menu Animation*/
.mega-animation-fade{
  opacity:0;
  visibility:hidden;
  transition:opacity .3s ease;
}
.mega-animation-top{
  opacity:0;
  visibility:hidden;
  transform:translateY(-30px);
  transition:opacity .3s ease, visibility 0s linear .3s, transform .3s ease;
}
.mega-animation-bottom{
  opacity:0;
  visibility:hidden;
  transform:translateY(30px);
  transition:opacity .3s ease, visibility 0s linear .3s, transform .3s ease;
}
.mega-animation-right{
  opacity:0;
  visibility:hidden;
  transform:translateX(30px);
  transition:opacity .3s ease, visibility 0s linear .3s, transform .3s ease;
}
.mega-animation-left{
  opacity:0;
  visibility:hidden;
  transform:translateX(-30px);
  transition:opacity .3s ease, visibility 0s linear .3s, transform .3s ease;
}
.wm-mega-menu-item.show-mega-menu{
  transform:translate(0px, 0px);
  opacity:1;
  visibility:visible;
}
.wm-mega-menu-item.show-mega-menu.mega-animation-top{
  transition:opacity .3s ease, visibility 0s linear 0s, transform .3s ease;
}
.wm-mega-menu-item.show-mega-menu.mega-animation-bottom{
  transition:opacity .3s ease, visibility 0s linear 0s, transform .3s ease;
}
.wm-mega-menu-item.show-mega-menu.mega-animation-right{
  transition:opacity .3s ease, visibility 0s linear 0s, transform .3s ease;
}
.wm-mega-menu-item.show-mega-menu.mega-animation-left{
  transition:opacity .3s ease, visibility 0s linear 0s, transform .3s ease;
}
